a {
    color: 
    #141414;
    text-decoration: none;
}

.btn {
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.5px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    height: 37px;
    background:#141414;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 7px 20px;
    transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.btn .mask {
    background: 
#e91e63;
border-radius: 2px;
display: block;
height: 100%;
left: 0;
position: absolute;
top: 0;
width: 0;
z-index: 1;
transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.btn .btn-label {
    padding: 4px 0;
}
.btn span {
    position: relative;
    z-index: 2;
    display: inline-block;
}

header .header-wrap .pe-7s-download {
    font-size: 25px;
    display: none;
    color: 
    #fff;
}

/* Header */
header .header-wrap {
    padding-top: 16px;
}
.center-div {
    margin: 0 auto;
    overflow: hidden;
    float: none;
    clear: both;
}
.name span {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: block;
    color: 
    #fff;
    padding-top: 7px;
}

/* Header finished */

.pad-zero {
    padding: 0;
}
nav.navbar.navbar-default.vertical-nav li {
    display: block;
    float: none;
    height: 7px;
    margin-bottom: 29px;
    width: 50px;
}
nav.navbar.navbar-default.vertical-nav{
    position: fixed;
    transform: translateZ(0);
    backface-visibility: hidden;
    top:50%;
    left: 129px;
    transform: translateY(-50%);
    background: none;
    border: none;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.navbar-collapse.collapse {
    display:block!important;
    height:auto!important;
    padding-bottom:0;
    overflow:visible!important
   }
.navbar-collapse.in {
overflow-y:visible
}

nav.navbar.navbar-default.vertical-nav li a {
    background: none;
    border: none;
    padding: 0;
}

nav.navbar.navbar-default.vertical-nav li.active span {
    left: 50px;
    opacity: 1;
    color: #fff;
}

nav.navbar.navbar-default.vertical-nav li span {
    font-size: 11px;
    font-weight: 500;
    left: 90px;
    line-height: 1;
    color:#141414;
    position: absolute;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

nav.navbar.navbar-default.vertical-nav li a::before {
    background-color: #fff;
    border-radius: 50%;
    height: 50px;
    top: -21px !important;
    opacity: 1;
    transform: scale(0);
    width: 50px;
}

nav.navbar.navbar-default.vertical-nav li a::after {
    background: #fff none repeat scroll 0 0;
    border: 3px solid#fff;
    border-radius: 50%;
    height: 0;
    transition: all 0.1s ease-out 0s;
    width: 0;
}

